{%load static%}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Africa</title>
    <link rel="stylesheet" href="{%static 'main/css/africa.css'%}">
</head>
<body>
    <div class = 'main'>
        <img src="{%static 'main/css/фото/лев.jpg'%}">
        <p>Africa</p>
    </div>
    <div class = 'string'>
        <img src="{%static 'main/css/фото/слон.jpg'%}" class = 'elephant'>
        <img src="{%static 'main/css/фото/жирафы.jpg'%}" class = 'ziveta'>
        <img src="{%static 'main/css/фото/фламинго.jpg'%}" class = 'flam'>
        <p1>ELEPHANT</p1>
        <p2>GIRAFFE</p2>
        <p3>FLAMINGO</p3>
    </div>
    <div class="s1">
        <img src="{%static 'main/css/фото/слон1.jpg'%}">
        <p1>Слон</p1>
        <p2>Слон - это одно из самых крупных наземных животных. Его вес может достигать нескольких тонн, а высота в холке - около 4 метров. Наиболее характерными чертами слона являются его огромные уши и длинный хобот. Эти органы помогают слону охлаждаться в жару и поднимать пищу к рту. Также слон обладает массивными клыками из слоновой кости, которые используются ему для самообороны и разделывания пищи. Слоны живут в группах, называемых стаями, и общаются между собой с помощью различных звуков и жестов. Они являются социальными животными и проявляют заботу о своих потомках. Слоны имеют мощные конечности и способны перемещаться с невероятной скоростью в своих размерах. Они также славятся своим характерным внешним видом и символизируют мудрость и силу.</p2>
    </div>
    <div class="s2">
        <img src="{%static 'main/css/фото/лев1.jpg'%}">
        <p1>Лев</p1>
        <p2>Лев - король зверей, символ силы и могущества. Он является одной из самых известных и величественных животных на планете. Лев - хищник, его основной рацион состоит из мяса. Он обладает огромными когтями и острыми клыками, которые помогают ему добывать пищу. Лев - общественное животное, он живет в стае, где есть главный самец и несколько самок. Левы очень сильные и быстрые. Они могут пробежать длинные расстояния и прыгать на невероятные высоты. Львы также известны своим ревом, который слышно на огромные расстояния. Левы идентифицируются по своей гриве, которая у самцов очень красивая и роскошная. Львы часто встречаются в национальных парках Африки и Индии. Они уязвимы и нуждаются в защите. Они уникальные создания, которые заслуживают нашего восхищения и уважения.</p2>
    </div>
    <div class="s3">
        <img src="{%static 'main/css/фото/зебра.jpg'%}">
        <p1>Зебра</p1>
        <p2>Зебра - это млекопитающее, принадлежащее к семейству коней. Одним из самых узнаваемых признаков зебры является их черно-белая полосатая шкура, которая служит им для маскировки среди травы и создания оптических иллюзий перед хищниками. Длина тела зебры может достигать 2-2,5 метров, а их вес составляет около полутона. Они обладают мощными ногами, позволяющими им бегать со скоростью до 60 километров в час. Эти животные питаются травой, листьями и фруктами. Зебры обитают в степях и саваннах на территории Африки. Они живут в стадах и обладают хорошо развитым сообщением, используя различные звуки для передачи информации. Зебра - это одно из самых заметных и впечатляющих существ среди животных Африки.</p2>
    </div>


</body>
</html>