{%load static%}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Atarctida</title>
    <link rel="stylesheet" href="{%static 'main/css/antarctica.css'%}">
</head>
<body>
    <div class = 'main'>
        <img src="{%static 'main/css/фото/7.jpg'%}">
        <p>Antarctida</p>
    </div>
    <div class = 'string'>
        <img src="{%static 'main/css/фото/касатка.jpg'%}" class = 'elephant'>
        <img src="{%static 'main/css/фото/крачка.jpg'%}" class = 'ziveta'>
        <img src="{%static 'main/css/фото/тюлень.jpg'%}" class = 'flam'>
        <p1>KILLER WHARE</p1>
        <p2>TERN</p2>
        <p3>SEAL</p3>
    </div>
    <div class="s1">
        <img src="{%static 'main/css/фото/8.jpg'%}">
        <p1>Пингвин</p1>
        <p2>Пингвины - это группа птиц, характеризующихся своей неповторимой внешностью и поведением. Они обитают в южном полушарии, особенно в Антарктике, где они приспособились к холодным условиям. Вот некоторые интересные факты о пингвинах:

 Всего существует около 18 видов пингвинов, самым известным из которых является императорский пингвин, изображенный во многих фильмах и книгах.
 Пингвины обладают уникальной способностью плавать и нырять. Они используют свои крылья в качестве ласт для передвижения под водой, где они могут достигать значительных скоростей. Пингвины обладают социальной структурой и живут в больших колониях. Они часто собираются вместе для размножения и защиты друг от друга. Это лишь некоторые интересные факты о пингвинах. Они являются удивительными созданиями, которые привлекают внимание и восхищение людей со всего мира.</p2>
    </div>
    <div class="s2">
        <img src="{%static 'main/css/фото/белуха.jpg'%}">
        <p1>Белуха</p1>
        <p2>Белуха, или белый кит, является одним из самых впечатляющих морских млекопитающих. Они обитают в холодных водах Арктики и Северного Ледовитого океана. Белухи имеют белый окрас, который помогает им маскироваться среди льда. Они также демонстрируют свои громкие песни, которые используются для общения и навигации. Белухи являются конкретными животными и поддерживают тесные связи внутри своих групп, называемых «подворьями». Они питаются исключительно креветками и рыбой, с помощью своих уникальных фильтрующих систем, которые отделяют пищу от воды. Однако из-за промысла и изменения климата, белухи сталкиваются с угрозой вымирания. Поэтому важно предпринимать меры по защите и сохранению мест их обитания, чтобы обеспечить их выживание и благополучие.</p2>
    </div>
    <div class="s3">
        <img src="{%static 'main/css/фото/котик.jpg'%}">
        <p1>Морской котик</p1>
        <p2>Морские котики — это морские млекопитающие, обитающие в различных частях океана. Они относятся к семейству ушастых котиков и адаптированы к водной среде тела. Морские котики обладают плавательными ластами и обычной шерстью, которая помогает им сохранять тепло в холодных водах. Они питаются рыбой и другими морскими организмами. Морские котики также исповедовали свою социальность и предусматривали большие колонии на побережьях. Однако из-за различных угроз, включая промысел и ограничение мест обитания, некоторые виды морских котиков оказываются под угрозой и необходимо для защиты и сохранения их популяций.</p2>
    </div>


</body>
</html>