{%load static%}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Australia</title>
    <link rel="stylesheet" href="{%static 'main/css/australia.css'%}">
</head>
<body>
    <div class = 'main'>
        <img src="{%static 'main/css/фото/главнаяг.jpg'%}">
        <p>Australia</p>
    </div>
    <div class = 'string'>
        <img src="{%static 'main/css/фото/квака.jpg'%}" class = 'elephant'>
        <img src="{%static 'main/css/фото/кенгуру2.jpg'%}" class = 'ziveta'>
        <img src="{%static 'main/css/фото/коала.jpg'%}" class = 'flam'>
        <p1>KWOKKA</p1>
        <p2>KANGAROO</p2>
        <p3>KOALA</p3>
    </div>
    <div class="s1">
        <img src="{%static 'main/css/фото/гудфелоу.jpg'%}">
        <p1>Гудфеллоу</p1>
        <p2>Гудфеллоу, также известный как Гуди, был одним из самых известных и влиятельных гангстеров в истории. Он родился и вырос в маленьком городе в США и быстро понял, что хочет большего от жизни. Гудфеллоу умел управлять людьми и всегда был на шаг впереди своих соперников. Он создал мощную криминальную организацию, которая контролировала различные виды преступности, начиная от контрабанды и наркотиков, заканчивая рейдами на банки и отмыванием денег. Однако, его амбиции и безжалостность часто приводили к насилию и смерти. В итоге, Гуди был арестован и приговорен к пожизненному заключению. Его история стала основой для множества фильмов и книг, показывая темную сторону преступного мира и сложные выборы, с которыми сталкиваются люди в погоне за властью и богатством.</p2>
    </div>
    <div class="s2">
        <img src="{%static 'main/css/фото/динго.jpg'%}">
        <p1>Динго</p1>
        <p2>Динго - это вид млекопитающих, относящийся к семейству собаковых. Он происходит из Австралии и считается одним из самых известных австралийских животных. Динго имеет изящную и стройную фигуру, достигая в высоту до 60 сантиметров и веса до 20 килограммов. Он обладает красивой окраской - серо-коричневый или песочный цвет с белой грудью и животом. Динго является известным хищником, имеющим превосходные охотничьи навыки. Он питается мелкими животными, такими как кенгуру, вомбат и птицы. Динго также умеет лаять, выть и свистеть для коммуникации. Однако это животное зачастую попадает в конфликты с людьми, поскольку охотится на домашний скот. Из-за этого динго сталкивается с преследованием и теряет свои территории. В настоящее время динго охраняется и является символом заботы о среде обитания в Австралии.</p2>
    </div>
    <div class="s3">
        <img src="{%static 'main/css/фото/коала1.jpg'%}">
        <p1>Коала</p1>
        <p2>Коала — это животное иконическое для Австралии. Они ленивые, но очаровательные создания. Коалы известны своей привязанностью к эвкалиптовым деревьям, которые являются их основным источником питания. В целом, коалы очень избирательны в отношении своей пищи. Хотя они больше всего едят листья, их рацион также может включать ягоды, цветы и кору. Коалы имеют густую серую шерсть, которая помогает им защищаться от холода и влаги. Они ведут одиночный образ жизни и редко социализируются. Коалы известны своими низкими энергозатратами, они спят примерно 20 часов в день, чтобы сберечь энергию. Коала является символом экологической чистоты и уязвимости природы. Их численность уменьшается из-за потери среды обитания и контакта с людьми. Но благодаря усилиям организаций по сохранению природы, их популяция стабилизируется.</p2>
    </div>


</body>
</html>