{%load static%}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Eurasia</title>
    <link rel="stylesheet" href="{%static 'main/css/eurasia.css'%}">
</head>
<body>
    <div class = 'main'>
        <img src="{%static 'main/css/фото/евразияг.jpg'%}">
        <p>Eurasia</p>
    </div>
    <div class = 'string'>
        <img src="{%static 'main/css/фото/1.jpg'%}" class = 'elephant'>
        <img src="{%static 'main/css/фото/2.jpg'%}" class = 'ziveta'>
        <img src="{%static 'main/css/фото/3.jpg'%}" class = 'flam'>
        <p1>CHEETAH</p1>
        <p2>LYNX</p2>
        <p3>PANDA</p3>
    </div>
    <div class="s1">
        <img src="{%static 'main/css/фото/4.jpg'%}">
        <p1>Снежный барс</p1>
        <p2>Снежный барс, известный также как ирбис, является крупным кошачьим хищником, обитающим в горных районах Центральной и Центральной Азии. Он отличается своей прекрасной белой шерстью с пятнами, которая помогает ему скрываться на снежных склонах. Снежные барсы имеют мускулистое тело и короткие передние ноги, которые помогают их передвигаться по снегу. Они также имеют длинный хвост, который используется для балансировки при перемещении по крутым горным склонам. Эти животные охотятся на козлов, оленей и других млекопитающих, используя свою силу и гибкость. Снежные барсы считаются уязвимым видом, так как они подвержены охоте и потере мест обитания. Для сохранения этого прекрасного хищника требуется активная охрана природы и его среды обитания.</p2>
    </div>
    <div class="s2">
        <img src="{%static 'main/css/фото/5.jpeg'%}">
        <p1>Олень</p1>
        <p2>Олени - одни из самых красивых животных. Их изящная осанка и грациозные движения завораживают. Красивые и густые рога, украшающие голову оленя, делают его еще более привлекательным. Оленей можно встретить практически в каждом уголке планеты, их разнообразие поразительно. Белое пятно на груди и нежный, бархатистый мех только добавляют им очарования. Они также обладают длинными и изящными ногами, позволяющими им свободно передвигаться на больших пространствах. Величественные и элегантные олени, украшающие природу своей красотой, не оставляют равнодушными никого. Они являются поистине прекрасными созданиями природы.</p2>
    </div>
    <div class="s3">
        <img src="{%static 'main/css/фото/6.jpg'%}">
        <p1>Красная панда</p1>
        <p2>Красные панды, также известные как малые панды или лисохвостые еноты, являются очаровательными созданиями, обитающими в горных районах Азии. С их ярко-рыжей шерстью и круглыми глазками они непременно привлекают внимание. Красные панды обладают милыми чертами лица, которые сделали их одними из самых популярных животных среди посетителей зоопарков. Они днем спят на деревьях, а ночью отправляются на поиски пищи, в основном питаясь бамбуком, но не отказываются и от яблок, груш и меда. Эти маленькие существа очень социальны и часто группами исследуют свое окружение. Красная панда, несомненно, является одним из самых удивительных и милых животных на планете, добавляя яркость и веселье в мир природы.</p2>
    </div>


</body>
</html>