{%load static%}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>North America</title>
    <link rel="stylesheet" href="{%static 'main/css/northamerica.css'%}">
</head>
<body>
    <div class = 'main'>
        <img src="{%static 'main/css/фото/сев.jpeg'%}">
        <p>North America</p>
    </div>
    <div class = 'string'>
        <img src="{%static 'main/css/фото/крокодил.jpg'%}" class = 'elephant'>
        <img src="{%static 'main/css/фото/волк.jpeg'%}" class = 'ziveta'>
        <img src="{%static 'main/css/фото/биз.jpg'%}" class = 'flam'>
        <p1>CROCODILE</p1>
        <p2>COYOTE</p2>
        <p3>BISON</p3>
    </div>
    <div class="s1">
        <img src="{%static 'main/css/фото/кошка.jpg'%}">
        <p1>Ягуарунди</p1>
        <p2>Ягуарунди, по-научному известный как пума ягуарунди, - это небольшой вид диких кошек, обитающий в Северной и Южной Америке. Обладая стройным телом, короткими лапами и маленькой головой, он демонстрирует однородный цвет шерсти, варьирующийся от темно-коричневого до серовато-коричневого или красновато-коричневого. Проворные скалолазы, ягуарунди в основном ведут одиночный образ жизни и активны на рассвете и в сумерках. Их рацион состоит из мелких млекопитающих, птиц, рептилий и иногда рыбы. Обитающие в Центральной и Южной Америке, включая Мексику, Бразилию и Аргентину, они сталкиваются с угрозами потери среды обитания, фрагментации и охоты. Усилия по сохранению сосредоточены на исследованиях, мониторинге, сохранении среды обитания и уменьшении конфликтов между человеком и дикой природой для обеспечения их долгосрочного выживания.</p2>
    </div>
    <div class="s2">
        <img src="{%static 'main/css/фото/овцебык.jpg'%}">
        <p1>Овцебык</p1>
        <p2>Овцебык, научно известный как Oryx gazella, является видом антилопы, обитающим в пустынных и полупустынных регионах Африки и Аравийского полуострова. Они отличаются своими длинными, изогнутыми рогами, которые используют для защиты от хищников и в борьбе за территорию. Овцебыки имеют характерную окраску, состоящую из белого тела с черными отметинами на лице и ногах. Они приспособлены к жизни в экстремальных условиях, способны выживать без воды в течение длительного времени, получая необходимую влагу из пищи. Овцебыки являются социальными животными, образуя стада, которые могут насчитывать до нескольких сотен особей. Их численность сокращается из-за охоты и потери естественных мест обитания, их сохранение требует усилий по охране и устойчивому управлению популяциями.</p2>
    </div>
    <div class="s3">
        <img src="{%static 'main/css/фото/овца.jpeg'%}">
        <p1>Снежная коза</p1>
        <p2>Снежная овца, также известная как бигхорн, это вид овцы, обитающий в гористых регионах Северной Америки. Ее наиболее заметной чертой являются огромные изогнутые рога, которые могут иметь длину до одного метра. Рога служат как оружие для самцов во время сражений за доминирование и покорение самки.

Снежные овцы отличаются своим способом передвижения в крутых горных условиях. Они легко пересекают каменистую местность и скалы благодаря своим крепким копытам и отличной физической выносливости. Они также имеют толстую двухслойную шерсть, которая предохраняет их от холода и снежных бурь.

Однако, их численность снижается из-за разрушения их естественной среды обитания, а также из-за незаконной охоты. Усилия по сохранению и защите снежных овец включают в себя установление заповедников и контроля за охотой в нужных регионах.</p2>
    </div>


</body>
</html>