{%load static%}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>South America</title>
    <link rel="stylesheet" href="{%static 'main/css/southamerica.css'%}">
</head>
<body>
    <div class = 'main'>
        <img src="{%static 'main/css/фото/юж.jpg'%}">
        <p>South America</p>
    </div>
    <div class = 'string'>
        <img src="{%static 'main/css/фото/тукан1.jpg'%}" class = 'elephant'>
        <img src="{%static 'main/css/фото/мура.jpg'%}" class = 'ziveta'>
        <img src="{%static 'main/css/фото/капибара.jpg'%}" class = 'flam'>
        <p1>TOUCAN </p1>
        <p2>ANTEATER</p2>
        <p3>CAPYBARA </p3>
    </div>
    <div class="s1">
        <img src="{%static 'main/css/фото/носуха.jpg'%}">
        <p1>Носуха</p1>
        <p2>Носуха, также известная как насморк или ринит, является распространенным состоянием, характеризующимся воспалением слизистой оболочки носа. Она может быть вызвана различными факторами, включая вирусы, аллергены или холодные погодные условия. Симптомы носухи включают заложенность носа, чихание, выделение слизи и затрудненное дыхание. Лечение носухи может включать применение местных сосудосуживающих капель или спреев, промывание носа солевыми растворами, применение антигистаминных препаратов или противовирусных средств. Важно также обеспечить достаточное питье и отдых для укрепления иммунной системы. Если симптомы продолжаются или ухудшаются, рекомендуется обратиться к врачу для дальнейшей консультации и лечения.</p2>
    </div>
    <div class="s2">
        <img src="{%static 'main/css/фото/тука.jpg'%}">
        <p1>Тукан</p1>
        <p2>Туканы - это красочные птицы, обитающие в тропических лесах Центральной и Южной Америки. Они отличаются своими яркими оперениями и большим клювом, который может быть разнообразной формы и цвета. Клюв тукана является его основным инструментом для поиска пищи и защиты от хищников. Они питаются фруктами, насекомыми и яйцами других птиц. Туканы также известны своими громкими и разнообразными звуками, которые используют для общения и установления территории. Эти удивительные птицы играют важную роль в экосистеме тропических лесов, распространяя семена растений и помогая в их размножении. Туканы являются уникальными и красивыми созданиями, которые привлекают внимание и восхищение людей со всего мира.</p2>
    </div>
    <div class="s3">
        <img src="{%static 'main/css/фото/вик.jpg'%}">
        <p1>Викунья</p1>
        <p2>Викунья - это вид южноамериканского животного, относящегося к семейству верблюдовых. Они обитают в высокогорных районах Анд, в основном в Перу, Боливии, Чили и Аргентине. Викуньи имеют уникальную шерсть, которая является одной из самых дорогих и редких в мире. Ее ценят за ее мягкость, теплоту и прочность. Викуньи также известны своей способностью адаптироваться к экстремальным условиям высокогорья. Они могут выживать на высоте до 5000 метров над уровнем моря и приспосабливаться к недостатку кислорода. Викуньи являются важной частью экосистемы Анд, помогая распространять семена растений и поддерживая баланс в природе. Однако, из-за незаконной охоты и разрушения их естественной среды, викуньи сталкиваются с угрозой вымирания.</p2>
    </div>


</body>
</html>